<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 로그 파일 경로 설정  -->
    <!-- 모듈 이름을 포함한 로그 파일 경로 설정 -->
    <property name="MODULE_NAME" value="was-sync-blocking"/>
    <property name="LOG_PATH" value="logs/${MODULE_NAME}"/>
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n%ex{full}%n"/>

    <!-- 콘솔 출력 설정 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 파일 출력 설정 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 로그 파일 경로 설정 -->
        <file>${LOG_PATH}/application.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 일별 로그 파일 설정 -->
            <fileNamePattern>${LOG_PATH}/application.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 로그 파일 최대사이즈 -->
            <maxFileSize>100MB</maxFileSize>
            <!-- 로그 파일 보관 일수 -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <!-- 로그 패턴 설정 (스택트레이스 포함) -->
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 로그 레벨 설정 -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
